{% extends 'base.html' %}

{% block title %}
    接口管理
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/httpApi.css') }}">
{% endblock %}


<!--  -->
{% block main %}
    <div class="panel panel-primary" style="margin-bottom: 5px;">
        <div class="panel-heading">
            {% if projects|length == 1 %}
                <h3 class="panel-title">{{ projects[0].name }}-接口管理</h3></div>
            {% else %}
                <h3 class="panel-title">接口管理</h3></div>
            {% endif %}
    <div class="panel-body">
        {% if projects|length == 1 %}
            <button type="button" class="btn btn-primary" onclick="addProject()">新增接口</button>
            <a class="btn btn-primary" href="{{ url_for('http_case_one',project_id=projects[0].id) }}">用例管理</a>
            <a class="btn btn-primary" href="{{ url_for('http_suite_one',project_id=projects[0].id) }}">套件管理</a>
        {% else %}
            <button type="button" class="btn btn-primary" onclick="addProject()">新增接口</button>
        {% endif %}
    </div>

    </div>
    <div class="center-block table-responsive ">
        <table class="table table-responsive table-condensed table-bordered text-nowrap container-fluid">
            <thead>
            <tr class="success">
                <!-- <td class="col-md-1">ID</td> -->
                <td class="col-md-1">项目名称</td>
                <td class="col-md-1">接口名称</td>
                <td class="col-md-1">接口方法</td>
                <td class="col-md-1">接口路径</td>
                <td class="col-md-1">内容类型</td>
                <td class="col-md-2">接口主体</td>
                <td class="col-md-1">接口标头</td>
                <td class="col-md-1">创建时间</td>
                <td class="col-md-1">创建人</td>
                <td class="col-md-1">操作</td>
            </tr>
            </thead>
            <tbody>
            {% for api in apis %}
                <tr>
                    <!-- <td class="project-id"><a href="">{{ api.id }}</a></td> -->
                    <td class="project-name">{{ api.project.name }}</td>
                    <td class="api-id">{{ api.name }}</td>
                    <td class="project-id">{{ api.method }}</td>
                    <td class="project-id">{{ api.path }}</td>
                    <td class="project-id">{{ api.contentType }}</td>
                    <td class="project-id">{{ api.body }}</td>
                    <td class="project-id">{{ api.header }}</td>
                    <td class="project-id">{{ api.create_time }}</td>
                    <td class="project-id">{{ api.user.username }}</td>
                    <td class="project-operate">
                        <div class="edit-me"><a href="">编辑</a></div>
                        <div class="remove-me">
                            <a href="{{ url_for('remove_api',http_api_id=api.id) }}">删除</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block content %}
    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModal"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align: center">新增项目</h4>
                </div>
                <div class="modal-body">
                    {% if projects|length > 1 %}
                        <form class="" action="{{ url_for('http_api') }}" method="post">

                    {% else %}
                        <form class="" action="{{ url_for('project_api', project_id =projects[0].id) }}" method="post">
                    {% endif %}
                    <div class="form-container">
                        <div class="form-group">
                            <select class="form-control" name="project">
                                <option value="" selected="true" disabled="true">选择项目</option>
                                {% for pro in projects %}
                                    <option value="{{ pro.id }}">{{ pro.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name='name' placeholder="接口名称">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="method">
                                <option value="" selected="true" disabled="true">选择方法</option>
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                                <option value="PUT">PUT</option>
                                <option value="HEAD">HEAD</option>
                                <option value="DELETE">DELETE</option>
                                <option value="OPTIONS">OPTIONS</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name='path' placeholder="接口路径">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="contentType">
                                <option value="" selected="true" disabled="true">Content-Type</option>
                                <option value="application/xml">application/xml</option>
                                <option value="application/json">application/json</option>
                                <option value="multipart/form-data">multipart/form-data</option>
                                <option value="application/x-www-form-urlencoded">
                                    application/x-www-form-urlencoded
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name='body' placeholder="接口主体">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name='header' placeholder="接口标头">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">确认新增</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!--
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    -->
                </div>
            </div>
        </div>
    </div>
    <script>
        function addProject() {
            var options = {
                "backdrop": "static",
                "show": true
            };
            $('#projectModal').modal(options);
        }
    </script>
{% endblock %}


{% block modal %}


{% endblock %}



